#home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  color: white;
}

#news {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition:all ease 0.7s;
}

#news #card{
  transition:all ease 0.7s;
}

#news #card:hover{
  transform:scale(1.4);
}

#news:hover{
  transform:scale(0.9);
}

