.slide-noactive {

  display: none;
}
.bloc,
.bloc-active {
  width: 18px;
  height: 18px;
  border-radius: 25px;
  border: 1px solid gray;

}

.bloc-active {
  background-color:white;
}

#arrow {
  color: white;
}
#image2{
    height:450px;
    width: 900px;
    margin-bottom: 10px;
}
